<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> {{Title}} </title>
        <meta name="description">
        <meta name="author">
    </head>
    <body>
        {{Body}}
    </body>
</html>